# Віртуальне середовище
venv/
env/
.venv/

# Кеш Python та скомпільовані файли
__pycache__/
*.py[cod]
*$py.class

# Налаштування редакторів коду (VS Code)
.vscode/

# Локальна база даних (опціонально, але краще ігнорувати, щоб не затерти чиїсь дані)
finance_data.json